!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      Fresh Merb App
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    #header= partial 'layout/header'
    #body= catch_content :for_layout
    #footer= partial 'layout/footer'
